body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1015;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    list-style: none;
    padding: 10px;
    margin-left: 10;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}
.Nav-image{
    width: 45px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1a1d22;
    color: white;
    margin-top: full-height;
}
